<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.datum.hotline.plugin.hlpush"
        version="1.0.0-agdev">

    <name>HLPush</name>

    <description>The plugin supports scheduling local notifications in various ways with a single interface. It also allows you to update, clear or cancel them. There are different interfaces to query for local notifications and a complete set of events to hook into the life cycle of local notifications. To get a deep overview we recommend to read about all the topics in our wiki and try out the Kitchen Sink App</description>

    <repo>https://github.com/sxagan/cordova-plugin-hlpush</repo>

    <keywords>appplant, notification, local notification</keywords>

    <license>Apache 2.0</license>

    <author>Sebastián Katzer</author>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- dependencies -->
    <dependency id="org.apache.cordova.device" />

    <!-- info -->
    <info>
        Your support is needed. If you use the local-notification plugin please support us in order to ensure further development.
        https://github.com/katzer/cordova-plugin-local-notifications#supporting

        Thank you!
    </info>

    <!-- js -->
    <js-module src="www/local-notification.js" name="LocalNotification">
        <clobbers target="cordova.plugins.notification.local" />
        <clobbers target="plugin.notification.local" />
    </js-module>

    <js-module src="www/local-notification-core.js" name="LocalNotification.Core">
        <clobbers target="cordova.plugins.notification.local.core" />
        <clobbers target="plugin.notification.local.core" />
    </js-module>

    <js-module src="www/local-notification-util.js" name="LocalNotification.Util">
        <merges target="cordova.plugins.notification.local.core" />
        <merges target="plugin.notification.local.core" />
    </js-module>

    <js-module src="www/PushNotification.js" name="PushNotification">
        <clobbers target="PushNotification" />
    </js-module>

    <js-module src="www/BackgroundJS.js" name="BackgroundJS">
        <clobbers target="window.plugin.backgroundjs" />
    </js-module>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="LocalNotification">
                <param name="ios-package" value="APPLocalNotification" onload="true" />
                <param name="onload" value="true" />
            </feature>
            <feature name="PushPlugin">
                <param name="ios-package" value="PushPlugin"/>
            </feature>
            <feature name="BackgroundJS">
                <param name="ios-package" value="BackgroundJS"/>
            </feature>
        </config-file>

        <header-file src="src/ios/APPLocalNotification.h" />
        <source-file src="src/ios/APPLocalNotification.m" />

        <header-file src="src/ios/APPLocalNotificationOptions.h" />
        <source-file src="src/ios/APPLocalNotificationOptions.m" />

        <header-file src="src/ios/UIApplication+APPLocalNotification.h" />
        <source-file src="src/ios/UIApplication+APPLocalNotification.m" />

        <header-file src="src/ios/UILocalNotification+APPLocalNotification.h" />
        <source-file src="src/ios/UILocalNotification+APPLocalNotification.m" />

        <!-- pushnotification -->
        <header-file src="src/ios/push/AppDelegate+notification.h" />
        <source-file src="src/ios/push/AppDelegate+notification.m" />

        <header-file src="src/ios/push/NotificationService.h" />
        <source-file src="src/ios/push/NotificationService.m" />

        <header-file src="src/ios/push/PushPlugin.h" />
        <source-file src="src/ios/push/PushPlugin.m" />

        <!-- Backgroundjs -->
        <header-file src="src/ios/bgjs/BackgroundJS.h"/>
        <source-file src="src/ios/bgjs/BackgroundJS.m"/>

        <!-- local notification hooks-->
        <hook
            type="after_platform_add"
            src="scripts/ios/didRegisterUserNotificationSettings.js" />

        <hook
            type="after_plugin_install"
            src="scripts/ios/didRegisterUserNotificationSettings.js" />

    </platform>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocalNotification">
                <param name="android-package" value="com.datum.hotline.plugin.hlpush.localnotification.LocalNotification"/>
            </feature>
            <feature name="PushPlugin" >
                <param name="android-package" value="com.plugin.gcm.PushPlugin"/>
            </feature>
            <feature name="ShortcutBadger" >
                <param name="android-package" value="me.leolin.shortcutbadger"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <receiver
                android:name="com.datum.hotline.plugin.hlpush.localnotification.TriggerReceiver"
                android:exported="false" />

            <receiver
                android:name="com.datum.hotline.plugin.hlpush.localnotification.ClearReceiver"
                android:exported="false" />

            <activity
                android:name="com.datum.hotline.plugin.hlpush.localnotification.ClickActivity"
                android:launchMode="singleInstance"
                android:theme="@android:style/Theme.NoDisplay"
                android:exported="false" />

            <activity
                android:name="com.datum.hotline.plugin.hlpush.localnotification.ViewActivity"
                android:launchMode="singleInstance"
                android:theme="@android:style/Theme.NoDisplay" 
                android:exported="true" 
                android:excludeFromRecents="true" 
                
                >
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="hotlines" />
                </intent-filter>
            </activity>     
            <!-- 
             -->           

            <receiver
                android:name="com.datum.hotline.plugin.hlpush.notification.TriggerReceiver"
                android:exported="false" />

            <receiver
                android:name="com.datum.hotline.plugin.hlpush.notification.ClearReceiver"
                android:exported="false" />

            <receiver android:name="com.datum.hotline.plugin.hlpush.localnotification.RestoreReceiver" android:exported="false" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>

            <activity
                android:name="com.datum.hotline.plugin.hlpush.notification.ClickActivity"
                android:launchMode="singleInstance"
                android:theme="@android:style/Theme.NoDisplay"
                android:exported="false" />


            <!-- pushnotification -->
            <activity android:name="com.plugin.gcm.PushHandlerActivity" android:exported="true"/>
            <receiver android:name="com.plugin.gcm.CordovaGCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>
            <service android:name="com.plugin.gcm.GCMIntentService" />
            <!-- pushnotification -->
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

            <!-- pushnotification -->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <!-- pushnotification -->

            <!-- ShortcutBadger -->
            <!--for Samsung-->
            <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
            <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>

            <!--for htc-->
            <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
            <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

            <!--for sony-->
            <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>

            <!--for apex-->
            <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>

            <!--for solid-->
            <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
            <!-- ShortcutBadger -->
        </config-file>

        <!-- <config-file target="AndroidManifest.xml" parent="application/activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="hotlines" />
            </intent-filter>
        </config-file> -->
        
        <!-- <source-file src="src/assets/icon.png" target-dir="res/drawable" /> -->

        <source-file
            src="src/android/LocalNotification.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/localnotification" />

        <source-file
            src="src/android/TriggerReceiver.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/localnotification" />

        <source-file
            src="src/android/ClickActivity.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/localnotification" />

        <source-file
            src="src/android/ClearReceiver.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/localnotification" />

        <source-file
            src="src/android/RestoreReceiver.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/localnotification" />

        <source-file
            src="src/android/ViewActivity.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/localnotification" />

        <source-file
            src="src/android/notification/AbstractClearReceiver.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />

        <source-file
            src="src/android/notification/AbstractClickActivity.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />

        <source-file
            src="src/android/notification/AbstractRestoreReceiver.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />

        <source-file
            src="src/android/notification/AbstractTriggerReceiver.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />

        <source-file
            src="src/android/notification/AssetUtil.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />

        <source-file
            src="src/android/notification/Builder.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />

        <source-file
            src="src/android/notification/ClearReceiver.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />

        <source-file
            src="src/android/notification/ClickActivity.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />

        <source-file
            src="src/android/notification/Manager.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />

        <source-file
            src="src/android/notification/Notification.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />

        <source-file
            src="src/android/notification/Options.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />

        <source-file
            src="src/android/notification/TriggerReceiver.java"
            target-dir="src/com/datum/hotline/plugin/hlpush/notification" />
        
        <!-- pushNotification -->    
        <source-file src="src/android/libs/gcm.jar" target-dir="libs/" />
        <source-file src="src/android/gcm/CordovaGCMBroadcastReceiver.java" target-dir="src/com/plugin/gcm/" />
        <source-file src="src/android/gcm/GCMIntentService.java" target-dir="src/com/plugin/gcm/" />
        <source-file src="src/android/gcm/PushHandlerActivity.java" target-dir="src/com/plugin/gcm/" />
        <source-file src="src/android/gcm/PushPlugin.java" target-dir="src/com/plugin/gcm/" />
        <source-file src="src/android/gcm/NotificationService.java" target-dir="src/com/plugin/gcm/" />

        <!-- <framework src="com.google.android.gms:play-services-gcm:+" custom="true" /> -->

        <!-- ShortcutBadger -->
        <source-file 
            src="src/android/me/leolin/shortcutbadger/ShortcutBadger.java" 
            target-dir="src/me/leolin/shortcutbadger/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/ShortcutBadgeException.java" 
            target-dir="src/me/leolin/shortcutbadger/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/Badger.java" 
            target-dir="src/me/leolin/shortcutbadger/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/util/CloseHelper.java" 
            target-dir="src/me/leolin/shortcutbadger/util/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/impl/AdwHomeBadger.java" 
            target-dir="src/me/leolin/shortcutbadger/impl/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/impl/ApexHomeBadger.java" 
            target-dir="src/me/leolin/shortcutbadger/impl/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/impl/AsusHomeLauncher.java" 
            target-dir="src/me/leolin/shortcutbadger/impl/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/impl/DefaultBadger.java" 
            target-dir="src/me/leolin/shortcutbadger/impl/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/impl/LGHomeBadger.java" 
            target-dir="src/me/leolin/shortcutbadger/impl/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/impl/NewHtcHomeBadger.java" 
            target-dir="src/me/leolin/shortcutbadger/impl/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/impl/NovaHomeBadger.java" 
            target-dir="src/me/leolin/shortcutbadger/impl/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/impl/SamsungHomeBadger.java" 
            target-dir="src/me/leolin/shortcutbadger/impl/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/impl/SolidHomeBadger.java" 
            target-dir="src/me/leolin/shortcutbadger/impl/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/impl/SonyHomeBadger.java" 
            target-dir="src/me/leolin/shortcutbadger/impl/" />
        <source-file 
            src="src/android/me/leolin/shortcutbadger/impl/XiaomiHomeBadger.java" 
            target-dir="src/me/leolin/shortcutbadger/impl/" />

        <!-- ShortcutBadger -->
    </platform>

    <!-- windows -->
    <platform name="windows">

        <js-module src="src/windows/LocalNotificationProxy.js" name="LocalNotification.Proxy" >
            <merges target="" />
        </js-module>

        <js-module src="src/windows/LocalNotificationCore.js" name="LocalNotification.Proxy.Core" >
            <merges target="" />
        </js-module>

        <js-module src="src/windows/LocalNotificationUtil.js" name="LocalNotification.Proxy.Util" >
            <merges target="" />
        </js-module>

        <!-- Platform Hooks -->
        <hook type="after_platform_add" src="scripts/windows/setToastCapable.js" />
        <hook type="after_plugin_install" src="scripts/windows/setToastCapable.js" />

        <hook type="after_platform_add" src="scripts/windows/broadcastActivateEvent.js" />
        <hook type="after_plugin_install" src="scripts/windows/broadcastActivateEvent.js" />
        <hook type="after_prepare" src="scripts/windows/broadcastActivateEvent.js" />

    </platform>

</plugin>
